* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}

header {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(./home-bg-1.jpg);
  background-size: cover;
  padding: 7rem 10rem;
  gap: 2rem;
}
header h1 {
  color: white;
  text-align: center;
  justify-content: center;
}
header p {
  color: white;
  text-align: center;
  justify-content: center;
}
header h1 {
  font-size: 2.5rem;
  letter-spacing: 0.5rem;
}
main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 0;
}
.page-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  align-items: center;
  padding: 0.5rem 1rem;
  background-color: aliceblue;
  gap: 5rem;
}
.projects-a {
  border: 1px solid white;
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}

.projects-a a {
  color: white;
}
.about-us {
  width: 100%;
  height: 30rem;
  display: flex;
  flex-direction: row;

  gap: 5rem;
  justify-content: center;
}
.Y25 {
  width: 30%;
  background-image: url(./Wallery_0583.jpg);
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Y25-whitebox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  width: 50%;

  height: 30%;
  text-align: center;
  margin: 0 auto;
  gap: 1rem;
}
.Y25-whitebox h1 {
  font-size: 4rem;
}
.Y25-whitebox p {
  font-size: 0.7rem;
}
.dash-img {
  width: 5rem;
  height: 0.2rem;
  object-fit: none;
}
.au-article {
  width: 30%;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  gap: 1rem;
}
.au-article h2 {
  font-size: 2rem;
}
.au-article h4 {
  color: rgb(167, 165, 165);
}
.au-article ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.au-article ul li::before {
  content: "";
  /* width: 1rem;
  height: 1rem; */
  padding: 0 0.5rem;
  background-color: rgb(88, 192, 88);
  border-radius: 50%;
  margin-right: 2rem;
}
.aboutus-a {
  border: 1px solid black;
  padding: 1rem 2rem;
  margin-top: 1rem;
  margin-bottom: 2rem;
}
